.top_navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.03);
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.top_navbar .logo {
    width: 250px;
    font-size: 25px;
    font-weight: 700;
    padding: 0 25px;
    letter-spacing: 2px;
    border-right: 1px solid #f5f5f5;
}

.top_navbar .menu {
    width: calc(100% - 250px);
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_navbar .hamburger {
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.top_navbar .hamburger:hover {
    color: #007dc3;
}

.sidebar {
    position: relative;
    /* top: 60px; */
    left: 0;
    float: left;
    width: 220px;
    height: 100vh;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
}

.hover_collapse .sidebar {
    width: 70px;
}

.hover_collapse .sidebar .text {
    display: none;
}

.hover_collapse .sidebar ul li .social {
    flex-direction: column;
}

.sidebar ul li a, .sidebar .nav-tabs li {
    display: block;
    padding: 16px 25px;
    border-bottom: 1px solid #03374e;
    color: #0e94d4;
}

.sidebar ul li .icon {
    font-size: 18px;
    color: white;
    vertical-align: middle;
}

.sidebar ul li .text {
    color: #fff;
    letter-spacing: 2px;
}