:root {
    --primary-clr: #fb246a;
    --primary-opacity-clr: #fb246cc2;
    --gray-clr: #999;
    --bg-input-clr: #f9f9f9;
    --status-primary-clr: #be0845;
    --box-shadow-status-primary-clr: #be084546;
    --dark-status-primary-clr: #be0845;
    --border-active-primary-clr: #cc084a;
    --box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    --fs-12px: 12px;
}

* {
    box-sizing: border-box;
    border: 0;
    outline: 0 !important;
    font-size: clamp(12px, .80rem + .2vw, 1.5rem);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.h-40 {
    height: 40px;
}

.btn-primary {
    background-color: var(--primary-clr);
    border-color: var(--primary-clr);
}

.btn-outline-primary {
    color: var(--primary-clr);
    border-color: var(--primary-clr);
}

.btn-check:checked+.btn-primary, .btn-check:active+.btn-primary, .btn-primary:active, .btn-primary.active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--status-primary-clr);
    border-color: var(--primary-clr);
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: var(--dark-status-primary-clr);
    border-color: var(--status-primary-clr);
    box-shadow: 0 0 0 0.25rem var(--box-shadow-status-primary-clr);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--dark-status-primary-clr);
    border-color: var(--status-primary-clr);
}

.btn-check:checked+.btn-outline-primary, .btn-check:active+.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: #fff;
    background-color: var(--dark-status-primary-clr);
    border-color: var(--status-primary-clr);
}

.btn-check:checked+.btn-outline-primary:focus, .btn-check:active+.btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem var(--box-shadow-status-primary-clr);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary-clr);
    border-color: var(--primary-clr);
}

.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem var(--box-shadow-status-primary-clr);
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--box-shadow-status-primary-clr);
}

.btn-check:checked+.btn-primary:focus, .btn-check:active+.btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem var(--box-shadow-status-primary-clr);
}

.navbar-light .navbar-toggler {
    color: var(--box-shadow-status-primary-clr);
    border-color: #be084546;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
}

.text-primary {
    color: var(--primary-clr) !important;
}

/*=========== Wrapper ===========*/

.ads {
    padding: 0 1rem;
}

.ads .card {
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.ads .card:hover {
    box-shadow: 0 0 50px #fb246cd8;
    transform: translateY(-6px) rotate(3deg) scale(1.040);
}

.btn-outline-dark {
    border-radius: 35px;
    font-size: 10px;
    box-shadow: none
}

.recent-jobs .card {
    overflow: hidden;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.recent-jobs .card-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
    position: relative;
}

.recent-jobs .card-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}

.recent-jobs .card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
}

.recent-jobs .card-footer {
    background: inherit;
    border-color: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.recent-jobs .fs-12px {
    font-size: 12px;
}

.partner {
    padding: 2rem 0;
    box-shadow: var(--box-shadow);
}

.partner:hover {
    box-shadow: none;
}

.partner .carousel-indicators {
    position: inherit;
}

.partner .carousel-indicators button {
    background-color: var(--primary-clr);
    width: .5rem;
    height: .5rem;
    border-radius: 100%;
}

/*=========== Login =============*/
.nav-tabs {
    background: var(--primary-opacity-clr);
}

.nav-tabs .nav-link {
    font-weight: 600;
    color: #fff;
    font-size: 13px;
}

.nav-tabs .nav-link:hover {
    border: none;
}

.nav-tabs .nav-link.active {
    color: var(--gray-clr);
}

::-webkit-input-placeholder {
    color: var(--gray-clr) !important;
    font-size: 12px;
}

:-ms-input-placeholder {
    font-size: 12px;
    color: var(--gray-clr) !important;
}

::placeholder {
    font-size: 12px;
    color: var(--gray-clr) !important;
}

.form-container .right-content {
    color: var(--gray-clr);
}

.right-content>div:not(.tab-content) {
    border-bottom: 2px solid var(--primary-clr) !important;
}

.form-container .right-content .form-title {
    color: #888;
    font-size: 2.4rem;
    font-weight: 400;
}

.form-container .form-content label {
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--gray-clr);
}

.form-container .form-content .form-select {
    width: fit-content;
}

.form-container .form-content :is(.form-control, .form-select) {
    background-color: var(--bg-input-clr);
}

.form-container .form-content :is(.form-control:focus, .form-select:focus) {
    box-shadow: 0 0 5px var(--primary-opacity-clr)
}

.form-container .form-content button {
    background: linear-gradient(to right, var(--primary-clr), var(--primary-opacity-clr));
    transition: all 0.3s ease 0s;
}

.form-container .form-content .btn:hover,
.form-container .form-content .btn:focus {
    box-shadow: 0 0 10px var(--primary-opacity-clr);
}

.form-container .form-content .remember-forget {
    color: var(--gray-clr);
    transition: all 0.3s ease 0s;
}

.form-container .form-content .remember-forget * {
    font-size: 12px !important;
    vertical-align: middle;
}

.form-container .form-content .remember-forget a:hover {
    color: inherit;
}

.form-container .form-content .remember-me .checkbox {
    height: 17px;
    width: 17px;
    min-height: auto;
    margin: 0 1px 0 0;
    border: 2px solid var(--primary-opacity-clr);
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: all 0.3s ease 0s;
}

.form-container .form-content .remember-me .checkbox:before {
    content: '';
    height: 5px;
    width: 10px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    left: 2px;
    top: 2.5px;
    transition: all 0.3s ease;
}

.form-container .form-content .remember-me .checkbox:checked {
    background-color: var(--primary-clr);
}

.form-container .right-content .social-links li a {
    font-size: 12px;
    transition: all 0.3s ease 0s;
}

.form-container .right-content .social-links li a i {
    margin-inline-start: 10px;
}

.form-container .right-content .social-links li a:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-container .right-content .signup-link {
    font-size: 13px;
}

/*=========== Dashboard ============*/
.dashboard .aside {
    background-color: rgba(0, 0, 0, 0.03);
}

.personal-information .card-header {
    background: var(--primary-opacity-clr);
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: transparent;
    box-shadow: none;
}